.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  > div {
    display: flex;
    grid-gap: 10px;
    > a {
      font-size: 16px;
      color: black;
    }
    > a:visited {
      color: black;
    }
  }
}
