.login {
    padding: 10px 16px;
}

.login form {
    max-width: 800px;
}

.login form > div {
    display: flex;
    flex-direction: column;
}

.login form > div > * {
    display: flex;
    width: inherit;
}
